<div class="modal-header">
  <h3>Please enter password to access to URL</h3>
</div>
<form action = "show" method=get>
    <div class="modal-body">
      <input name='ids' value='<%= @id %>' type=hidden />
      <input name='password' value='' /><input type=submit />
    </div>
</form>
